<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Ej 3 Vue js</title>
</head>
<body>
    
     <div id="ej-6" class="container-fluid">
        <input v-model='propiedades.nombre'class="h2"></input> 
        <h1 class="h1">Caracteristicas físicas de: {{propiedades.nombre}} </h1>
         <ul class="list-group">
             <li class="list-group-item" v-for="(value,index,key) in propiedades">
                 {{index}} : {{key}} : {{value}}
            </li>
         </ul>  
     </div>


     <script>
         const ej3 = new Vue({
            el:'#ej-6',
            data: {
                propiedades: { 
                            nombre: '',
                            altura: `${172} cm`,
                            peso: `${65} kg`,
                            colorDeOjos: `Marrones`,
                            comidaFavoria:`Empanadas fritas` 
                }
            }

         })
         //v-on = @

     </script>

</body>
</html>